.form-control {
  margin: 10px 0;
  width: 100%;
}

.form-control > label {
  font-size: 14px;
  color: gray;
  display: block;
  text-align: left;
}

.form-control > input,
.form-control > textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;

  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control > button {
  padding: 10px;
  margin-top: 10px;

  width: 50%;

  font-size: 16px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-sizing: border-box;
}
