a {
  color: #00C46A;
}

.btn {
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  min-width: 50px;
}

.btn-icon {
  width: 30px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #00C46A;
  color: white;
  padding: 5px 20px;
}

.btn-primary:hover {
  background-color: #27ae60;
}

.btn-secondary {
  background-color: white;
  color: black;
  padding: 5px 20px;
}

.btn-secondary:hover {
  background-color: #EEEEEE;
}
