.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0px;  
  
  background-color: #eaeaea;
  
  overflow-x: hidden;
  
}

a {
  color: #00C46A;
}

.btn {
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  min-width: 50px;
}

.btn > svg {
  display: block;
  margin: 0 auto;
}

.btn-icon {
  width: 30px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #00C46A;
  color: white;
  padding: 5px 20px;
}

.btn-primary:hover {
  background-color: #27ae60;
}

.btn-secondary {
  background-color: white;
  color: black;
  padding: 5px 20px;
}

.btn-secondary:hover {
  background-color: #EEEEEE;
}

.btn-square {
  color: white;
  width: 50px;
  height: 50px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.textInput {
  
  font-size: 20px;
  border: 1px solid lightgray;  
  text-align: center;
}

label {
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.info {  
  margin: 0 auto;
  text-align: left;
  max-width: 1360px;
  width: 100%;
  
  display: flex;
  flex-direction: row;
}


.info > .workout {
  padding: 10px;
  display: flex;
  flex-direction: row; 
}
.info > .workout > .form-input{
  max-width: 120px;  
  padding: 0 10px;
}
